.MainBody {
    display: flex;
    justify-content: space-around;
    padding-left: 7vh;
    padding-right: 7vh;
}

.RenderSpace{
    height: 620px;
    width: 360px;
    margin-left: 2%;
    margin-right: 2%;
}

#threeCanvas{
    height: 100%;
    width: 100%;
}
.buttonContainer {
    position: relative;
    width: 190px;
}
.MainBodyButton{
    border: none;
    text-align:center;
    background-color: #4c7935;
    color: white;
    font-size: 14px;
    font-family: 'Minecraft', sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    box-shadow: -4px 4px 0 #285014;
    transition: all 0.10s ease-in-out;
    position: absolute;
    bottom: 0;
}

.MainBodyButton:hover {
     background-color: #598f3f;
     cursor: pointer;
 }
.MainBodyButton:active {
    box-shadow: -1px 1px 0#285014;
}

.sword {
    height: 80vh;
}

