.TopNav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: rgb(0,0,0, 0.7);
}
.metaLogoImg{
    height: 60px;
}
.logoDiv {
    justify-self: left;
    align-self: center;
    margin-left: 100px;
}
.TopNavButtonRow{
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}
.TopNavButton {
    display: flex;
    flex-direction: column;
    background:none;
    border: none;
    margin-left: 40px;
}

.TopNavButton:hover .buttonImg {
    animation: headShake;
    animation-duration: 1s;
    cursor: pointer;
}

.p-nav {
    font-size: 14px;
    font-family: 'Minecraft', sans-serif;
    color: white;
    margin: 0px;
}

.p-nav:hover {
    cursor: pointer;
}

.buttonImg{
    transition: all 0.15s ease-in-out;
    height: 60px;
}

.buttonImg:active{
    /* filter: grayscale(0%) contrast(115%) saturate(115%) brightness(80%); */

}





