.TopNav {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 120px;
    background-color: rgb(0,0,0, 0.6);
}
.metaLogoImg{
    height: 60px;
}
.logoDiv {
    justify-self: left;
    align-self: center;
    margin-left: 100px;
}
.TopNavButtonRow{
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
}
.TopNavButton {
    display: flex;
    flex-direction: column;
    background:none;
    border: none;
    margin-left: 40px;
}

.p-nav {
    font-size: 14px;
    font-family: 'Minecraft', sans-serif;
    color: white;
    margin: 5px 0px 0px 0px;
}

.p-nav:hover {
    cursor: pointer;
}

.buttonImg{
    transition: all 0.15s ease-in-out;
    height: 70px;
}
.buttonImg:hover{
    /* filter: grayscale(0%) contrast(115%) saturate(115%) brightness(135%);
    height: 97.5%; */
    cursor: pointer;
    animation: headShake; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}
.buttonImg:active{
    /* filter: grayscale(0%) contrast(115%) saturate(115%) brightness(80%); */

}





